@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
nav#menuu {
    display: block;
}
nav#menuu ul{
    list-style: none;
    
    position: relative;
    left: 495.7px;
    top: 11px;
}
nav#menuu li{
    display: inline-block;
    font-size: 15pt;
    padding: 10px;
    margin: 2px;
    color: white;
    
    
}
nav#menuu li:hover{
    background-color: rgb(148, 165, 172);
    border-radius: 50px;
}
header#cabecalhoo {
    border-bottom: 1px rgb(193, 230, 236) solid;
    height: 81px;
    background-color: rgba(0, 0, 0,0.9);
    margin-top: -90px;
    width: 100%;
    margin-left: 0px;
    position: fixed;
    display: block;
}
form#formulario{
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 300px;
}
.entre{
    margin-left: 0px;
    font-size: 30pt;
    font-family: 'Dancing Script', sans-serif;
    border-bottom: 1px solid black;
    padding-left: 200px;
    margin-top: 90px;
}
a:hover{
    text-decoration: none;
    color: white;
}
a{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}
button#botao{
    background-color: black;
    border: 1px solid black;
    margin-left: 15px;
}
button#botao:hover{
    background-color: rgba(0, 0, 0,0.9);
}
footer.rodapee{
    clear: both;
    margin-top: 70px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.9);
    padding-bottom: 0px;
    width: 100%;
   position: absolute;
}
footer.rodapee p{
    text-align: center;
    padding-top: 20px;
    color: white;
}
@media(max-width: 700px){
    nav#menuu ul{
        left: 15px;
    }
    .sobre p{
        margin-right: 10px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .entre {
        padding-left: 0px;
    }
    .sobre li{
        margin-right: 0px;
        padding-left: 0px;
    }
    footer.rodapee{
       margin-top: 150px;
   }
}
@media(max-width: 320px){
    nav#menuu ul{
        left: -8px;
    }
    .sobre p{
        margin-right: 10px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .sobre li{
        margin-right: 0px;
        padding-left: 0px;
    }   
}
@media(min-width:1500px){
    footer.rodapee{
        margin-top: 490px;
    }
    footer.rodapee p{
        font-size: 17pt;
    }
    nav#menuu ul{
        left: 750px;
    }
    nav#menuu li{
        font-size: 20pt;
    }
    div.form-row{
        font-size: 20pt;
    }
    button#botao{
        font-size: 20pt;
    }
}