@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
nav#menu {
    display: block;
}
nav#menu ul{
    list-style: none;
    
    position: relative;
    left: 500px;
    top: 0px;
}
nav#menu li{
    display: inline-block;
    font-size: 15pt;
    padding: 10px;
    margin: 2px;
    color: white;
}
nav#menu li:hover{
    background-color: rgb(148, 165, 172);
    border-radius: 50px;
}
header#cabecalho {
    border-bottom: 1px rgb(193, 230, 236) solid;
    height: 80px;
    background-color: rgba(0, 0, 0,0.9);
    margin-top: -100px;
    width: 100%;
    margin-left: -7px;
    position: fixed;
    display: block;
}
section#corpo{
    width: 100%;
    height: 500px;
    background-color: rgb(217, 236, 240);
    margin-top: 70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
body{
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
}
p{
    font-family: Arial, sans-serif;
    font-size: 14pt;
    color: black;
    text-indent: 10px;
    text-align: justify;
}
main#sobre{
    text-align: justify;
    margin-top: 100px;
   
}
main#sobre h1{
    margin-left: 0px;
    font-size: 30pt;
    font-family: 'Dancing Script', sans-serif;
    border-bottom: 1px solid black;
    padding-left: 200px;
}

main#sobre h2{
    font-size: 14pt;
    font-family: 'Lobster', sans-serif;
    margin-left: 50px;
    
}
main#sobre h3{
    font-size: 19pt;
    margin-left: 20px;
}
main#sobre p{
    margin-right: 640px;
    padding-left: 10px;
    color: rgb(105, 104, 104);
    font-family: Arial, Helvetica, sans-serif;
}
main#sobre ul{
    list-style: none;
}
main#sobre li{
    font-size: 15pt;
    margin-left: -25px;
    color: rgb(85, 85, 85);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 640px;
}
figure.cafe img{
    width: 400px;
    height: 300px;
    box-shadow: 1px 1px 4px black;
    box-sizing: border-box;
    color: white;
    border: 5px solid white;
    margin-left: 790px;
    margin-top: 1000px;
  
    
}   


footer#rodape{
    clear: both;
    margin-top: 100px;
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    padding-bottom: 10px;
    margin-bottom: -100px;
    width: 1360px;
    margin-left: -20px;
    
}
footer#rodape p{
    text-align: center;
    padding-top: 22px;
}