@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
nav#menu {
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: relative;
    left: 450px;
    top: -70px;
}
nav#menu li{
    display: inline-block;
    background-color: rgb(193, 230, 236);
    padding: 10px;
    margin: 2px;

    color: black;
}
nav#menu li:hover{
    background-color: rgb(148, 165, 172);
    border-radius: 50px;
}
header#cabecalho {
    border-bottom: 1px rgb(193, 230, 236) solid;
    height: 80px;
    background-color: rgb(193, 230, 236);
    margin-top: -95px;
    width: 100%;
    margin-left: -7px;
    position: fixed;
}
section#corpo{
    width: 95%;
    height: 500px;
    background-color: white;
    margin: 80px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
body{
    background-color: rgb(197, 195, 195);
}
a{
    text-decoration: none;
    color: black;
}
img#logo{
    width: 65px;
    margin-top:15px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: black;
    text-indent: 10px;
    text-align: justify;
}
figure.cafe img{
    width: 400px;
    height: 300px;
    box-shadow: 1px 1px 4px black;
    box-sizing: border-box;
    color: white;
    border: 5px solid white;
    margin-left: 380px;
    margin-top: 50px;
}   

footer#rodape{
    clear: both;
    
}
footer#rodape p{
    text-align: center;
}